*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/code
MANIFEST.MF
activemq-data
bin
build.log
dump.rdb
lib/
out/
manifest.yml
target
build
local.properties
transaction-logs
.gradletasknamecache
